@media print {
  @page {
    /* size: landscape; */
  }
  .backbuttonprint {
    visibility: hidden;
  }
  #clearpreview {
    visibility: hidden;
  }
  .backbuttonprint.btn.btn-link {
    color: white;
  }

  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
}
#cardpreview img {
  max-width: 200px;
  max-height: 200px;
}
